<div class="error-box panel">
  <div class="text-center">
    <h2><stong>404错误！很抱歉，您要找的页面不存在</stong></h2>
    <div>
      <div class="pull-left"> <%= image_tag '404/left.gif', alt: "" %>
        <div class="alert"> 卧槽！页面不见了！ </div>
      </div>
      <div class="pull-right">
        <%= image_tag '404/right.png', alt: "", width: 260, class: "hidden-xs"  %>
      </div>
    </div>
    <div class="back-index"> <a href="<%= root_path %>" class="btn btn-primary">返回首页</a> </div>
  </div>
</div>