<div class="error-box panel">
  <div class="text-center">
    <h2><stong>500错误！很抱歉，系统似乎出现了一点小问题</stong></h2>
    <div>
      <div class="pull-left"> <%= image_tag '404/left.gif', alt: "" %>
        <div class="alert"> 卧槽！系统出错了！ </div>
      </div>
      <div class="pull-right">
        <%= image_tag '404/right.png', alt: "", width: 260, class: "hidden-xs"  %>
      </div>
    </div>

    <div class="back-index">
      <a href="<%= params['controller'] == 'home' ? root_path : admin_root_path %>" class="btn btn-primary">返回首页</a>
    </div>
  </div>
</div>