/*文章头部*/
.article-header {
  margin-bottom: 20px;
  padding: 25px 0;
  border-bottom: 1px solid #EEE;
  text-align: center;
}
.article-title {
  margin-top: 0;
  font-size: 26px;
  line-height: 36px;
}
.article-title a, .article-title a:hover {
  color: #555;
}
.article-meta {
  margin-top: 10px;
  font-size: 12px;
  color: #999;
}
.article-meta .item {
  margin-right: 20px;
  cursor: pointer;
}
.article-meta .item a {
  color: #666;
}
.article-meta .item a:hover {
  color: #3399CC;
}
/*文章内容*/
.article-content {
  font-size: 15px;
  line-height: 25px;
  word-wrap: break-word;
  cursor: default;
}
.article-content img {
  margin: 5px auto;
  display: block;
  max-width: 100%;
  height: auto;
}
.article-content img:hover {
  cursor: pointer;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 6px rgba(51,153,204,.6);
  -webkit-box-shadow: 0px 0px 6px rgba(51,153,204,.6);
  box-shadow: 0px 0px 6px rgba(51,153,204,.6);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.article-content p {
  text-indent: 30px;
  margin-bottom: 18px;
  word-wrap: break-word;
}

.article-small-title {
  background-color: #EEE;
  padding-right: 30px;
  font-size: 12px;
  padding: 3px 0;
  border-radius: 3px;
  color: #aaa;
  text-align: center;
  cursor: default;
}
.article-content .article-small-title a, .article-small-title a:hover {
  color: #AAA;
  text-decoration: none;
}
.article-content .article-small-title:hover {
  background: #3399CC;
  color: #FFF;
}
.article-content .article-small-title:hover a {
  color: #FFF;
}
/*文章标签*/
.article-tags {
  text-align: center;
  cursor: default;
}
.article-tags a {
  display: inline-block;
  padding: 4px 7px 3px;
  margin: 0 4px 4px 0;
  color: #FFF;
  font-size: 12px;
  background-color: #3399CC;
  opacity: 0.85;
  filter: alpha(opacity=85);
}
.article-tags a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

@media (max-width:720px) {
  .article-meta .article-meta-source {
    display: none;
  }
}

@media (max-width:420px) {
  .article-meta .article-meta-category {
    display: none;
  }
}