<footer class="footer">
  <div class="container">
    <p>&copy; 2016 <a href="">xxxxx.com</a> &nbsp; <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">豫ICP备xxxxxxx</a>
    </p>
  </div>
  <div id="go_top"><a class="gotop"></a></div>
</footer>