<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th><%= t('.name') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @labels.each do |label| %>
      <tr>
        <td><%= label.name %></td>
        <td>
          <%= link_to(t('button.delete'), admin_label_path(label), method: :delete) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
