<% content_for :title do %>
  <li><%= t('menu.new_article') %></li>
<% end %>
<div class="ibox-content" style="width: 75%;margin-left: auto;margin-right: auto;">
  <%= form_for @article, url:{action: 'create'}, html: {
      enctype: "multipart/form-data",
      class: "form-horizontal",
      method: 'post',
      id: 'article_form',
      remote: true
    } do |f| %>

    <%= render partial: "admin/articles/shared/article_form", locals:{f: f} %>

  <% end %>
</div>