<div class="content-wrap">
  <div class="content">
    <div class="article-wrap">
      <%= render partial: "articles/shared/article_list" %>
    </div>
  </div>
</div>

<%= render partial: "home/shared/sidebar", cached: true %>