<% content_for :title_h1 do %>
  <li><%= t('menu.new_article') %></li>
<% end %>
<div style="margin-left: auto; margin-right: auto; width: 75%">
  <%= form_tag('/articles/create', method: 'post', id: 'article_form', remote: true, enctype: "multipart/form-data", class: "form-horizontal") do %>
     <%= render :partial => "articles/shared/article_form" %>
  <% end %>
</div>
<%= render :partial => "articles/shared/add_tag_modal" %>