<% content_for :title_h1 do %>
  <%= t('menu.new_article') %>
<% end %>
<div style="margin-left: auto; margin-right: auto; width: 75%">
<%= form_tag('/articles/create', method: 'post', remote: true, enctype: "multipart/form-data", class: "form-horizontal") do %>
   <%= render :partial => "articles/shared/article_form" %>
<% end %>
</div>
<%= render :partial => "tags/shared/add_tag_modal" %>