<div class="pic-container">
  <div class="container-t">
    <h3>我的相册</h3>
  </div>
  <div class="pic-group">
    <a href="#" class="active">ALL</a>
    <a href="#">纪实</a>
    <a href="#">风景</a>
    <a href="#">人物</a>
  </div>
  <div class="pic-list">
    <% 4.times do |n| %>
      <div class="pic-item mx-auto">
        <a href="#">
          <%= image_tag asset_pack_path 'media/images/201606131517538ua3.jpg', class: "rounded mx-auto d-block", alt: "xxx，测试照片，一个小孩子" %>
          <div class="pic-info">
            <div>
              <h4>xxx，测试照片"</h4>
              <p>2011-08-12</p>
            </div>
          </div>
        </a>
      </div>
    <% end %>
  </div>
  <div class="clear"></div>
  <a href="#" class="more">VIEW MORE</a>
</div>