<% content_for :title do %>
		<li><%= t('.labels') %></li>
<% end %>

<%- if flash[:alert].present? %>
  <div class="alert alert-danger alert-dismissible text-center" role="alert" style="margin-bottom: 15px;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= flash[:alert] %>
  </div>
<%- end %>

<div class="pull-right" style="margin-bottom: 15px;">
	<button id="add_category_btn" class="btn btn-primary" data-toggle="modal" data-target="#add_label_modal">
		<%= t('.add_btn') %>
	</button>
</div>

<div class="categories_list">
	<%#= render :partial => "admin/categories/shared/categories_list" %>
</div>

<%= render :partial => "admin/labels/shared/label_modal" %>
<%#= render :partial => "admin/categories/shared/category_modal", locals: {action: 'edit'} %>
