@import '~antd/dist/antd';

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.admin-header {
  background: #fff;
  height: 50px;
  line-height: 50px;
  z-index: 1;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #eef0f5;
}

.table-operations {
  margin-bottom: 10px;
  button {
    margin-right: 5px;
  }
}