@import '~antd/dist/antd';
@import "~github-markdown-css";

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.admin-header {
  background: #fff;
  height: 50px;
  line-height: 50px;
  z-index: 100;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #eef0f5;
}

.table-operations {
  margin-bottom: 10px;
  height: 32px;
  button {
    margin-right: 5px;
  }
}
.form-page {
  width: 80%;
  background-color: #FFFFFF;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}
.index-page {
  background-color: #FFFFFF;
  padding: 30px;
}

.picture-upload {
  .ant-upload {
    display: flex;
    flex-direction: row-reverse;
  }
}
