@import './bootstrap.scss';

.navbar-my {
  border-bottom: 1px solid #e7e7e7;
  padding: 0.3rem 1rem;
  background-color: #FFFFFF;
}
.navbar-my .navbar-brand {padding: 0;}

.nav-logo { height:40px;}
.nav-logo embed,.nav-logo img{ height: 40px; margin-top: 2px;}

.top-nav li { padding: 0 20px; width: auto; height: 40px; line-height: 40px; transition: all ease .3s }
.top-nav li a { padding: 10px 40px; margin-top:5px; transition: all ease-out .3s; color: #4E4E4E; }
.top-nav li a:hover { background: #4E4E4E; transition: all ease-out .3s; color:#FFF; text-decoration: none; }
.top-nav li.active>a {background: #4E4E4E; color:#FFF;}

.main-wrapper { display: flex; flex-direction: row; background-color: #f8f8f8; }
.main-container { flex:1; margin: 15px; min-height: 300px; }
.side-container { width: 300px; margin: 15px; }

.side-container .card {
  width: 300px;
}
.side-container .card-header {
  margin: 0.75rem 1.25rem;;
  padding: 0;
  background-color: #FFFFFF;
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
  font-size: 1.5rem;
  font-weight: 400;
  color: #4E4E4E;
}
.side-container .card-body {
  padding: 0 1.25rem 1.25rem 1.25rem ;
}
.side-container .list-group-item {
  padding: 0.25rem 1.25rem;
}
.side-container .list-group-item a {
  color: #4E4E4E;
}

.side-container .list-group-item a:hover {
  color: #007bff;
}

.more {
  border: #ececec 1px solid;
  background: rgba(255,255,255,.0);
  color: #424242;
  width: 200px;
  height: 50px;
  display: block;
  margin: 15px auto 15px;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  border-radius: 30px;
  transition: all ease-out .3s;
  text-decoration: none;
}
.more:hover {
  border-color:#ececec;
  color:#424242;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  transition: all 0.5s;
}
.pic-container {
  min-height: 300px;
  background:#FFF;
  padding: 0 1rem 1rem 1rem;
}
.container-t { padding-top:30px; padding-bottom:15px; text-align:center;}
.container-t h3 { margin:0; font-size:24px; color:#444; }
.container-t p { margin-bottom:0; color:#c1c1c1; height:30px; line-height:30px;}

.pic-group { text-align: center; padding-bottom: 30px;}
.pic-group a { line-height: 30px; padding: 8px 30px; margin-right: 10px; transition: all 0.3s ease-out 0s; color: #999; border: 1px solid #EDEDED; }
.pic-group a.active, .pic-group a:hover { background: #ADADAD;color: #fff; border:1px solid #fff;}
.pic-group a { line-height: 16px; padding: 8px 16px; color: #616161; border: #d2d2d2 1px solid; margin-right: 2px; display: inline-block; }
.pic-group a { padding: 8px 30px; margin-right: 10px; text-decoration:none; transition: all 0.3s ease-out 0s;}


.pic-list { display: flex; flex-direction: row; flex-wrap: wrap;}

.pic-item { margin-bottom:30px; margin-right:15px; overflow:hidden; position: relative;}
.pic-item a { display:block; position:relative; overflow:hidden;}
.pic-item img {transition:all ease-out .3s;}

.pic-info { position:absolute; width:100%; height:100%; left:0; top:0; transition:all ease-out .3s; background:rgba(0,0,0,0);}
.pic-info div { position:relative; top:50%; margin-top:-15px;}
.pic-info h4 { margin-bottom:0; margin-top: 10px; color: rgba(0,0,0,0); transition: all ease-in-out .3s; font-size:1em; text-align:center;}
.pic-info p { margin-top: 16px; margin-bottom:0; color: rgba(0,0,0,0); font-size: 12px; transition: all ease-out .5s; text-align:center;}

.pic-item a:hover .pic-info { background:rgba(50, 50, 50, 0.8);}
.pic-item a:hover .pic-info h4 { margin-top:0; color:#eee;}
.pic-item a:hover .pic-info p { margin-top:0; color:#b7b7b7;}
.pic-item a:hover img {
  transform: scale(1.1,1.1);
  -moz-transform: scale(1.1,1.1);
  -webkit-transform: scale(1.1,1.1);
  -o-transform: scale(1.1,1.1);
}

.footer { background:#fff; border:1px solid #f1f1f1;}
.footer p { margin-bottom:0; padding: 15px 60px; font-size: 12px; color: #8e8e8e; line-height: 20px; text-align:center;}

@media (max-width: 992px) {
  .hidden-xs {
    display: none;
  }
}
@media (min-width: 992px) {
  .hidden-xs {
    display: block;
  }
}

.pagination-wrapper {
  margin-top: 15px;

  .page-link {
    color: #8e8e8e;
  }
  .pagination {
    margin-left: auto;
    margin-right: auto;
  }
  .active {

  }

  .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #888787;;
    border-color: #888787;
  }
}