@import './bootstrap.scss';

.navbar-my {
  border-bottom: 1px solid #e7e7e7;
  padding: 0.3rem 1rem;
  background-color: #FFFFFF;
}
.navbar-my .navbar-brand {padding: 0;}

.nav-logo { height:40px;}
.nav-logo embed,.nav-logo img{ height: 40px; margin-top: 2px;}

.top-nav li { padding: 0 20px; width: auto; height: 40px; line-height: 40px; transition: all ease .3s }
.top-nav li a { padding: 10px 40px; margin-top:5px; transition: all ease-out .3s; color: #4E4E4E; }
.top-nav li a:hover { background: #4E4E4E; transition: all ease-out .3s; color:#FFF; text-decoration: none; }
.top-nav li.active>a {background: #4E4E4E; color:#FFF;}

.pic-container { min-height: 600px; background:#FFF; }

.container-t { padding-top:50px; padding-bottom:30px; text-align:center;}
.container-t h3 { margin:0; font-size:24px; color:#444; }
.container-t p { margin-bottom:0; color:#c1c1c1; height:30px; line-height:30px;}

.pic-group { text-align: center; padding-bottom: 40px;}
.pic-group a { line-height: 30px; padding: 8px 30px; margin-right: 10px; transition: all 0.3s ease-out 0s; color: #999; border: 1px solid #EDEDED; }
.pic-group a.active, .pic-group a:hover { background: #ADADAD;color: #fff; border:1px solid #fff;}
.pic-group a { line-height: 16px; padding: 8px 16px; color: #616161; border: #d2d2d2 1px solid; margin-right: 2px; display: inline-block; }
.pic-group a { padding: 8px 30px; margin-right: 10px; text-decoration:none; transition: all 0.3s ease-out 0s;}

.pic-box { margin-bottom:40px; background:rgba(255, 255, 255, 0.9); overflow:hidden; position: relative; height:285px;}
.pic-box a { display:block; position:relative; overflow:hidden;}
.pic-box img {transition:all ease-out .3s; width:100%; height:285px;}
.pic-box a:hover img {
  transform: scale(1.2,1.2);
  -moz-transform: scale(1.2,1.2);
  -webkit-transform: scale(1.2,1.2);
  -o-transform: scale(1.2,1.2);
}

.pic-info { position:absolute; width:100%; height:100%; left:0; top:0; transition:all ease-out .3s; background:rgba(0,0,0,0);}
.pic-info div { position:relative; top:50%; margin-top:-15px;}
.pic-info h4 { margin-bottom:0; margin-top: 10px; color: rgba(0,0,0,0); transition: all ease-in-out .3s; font-size:1em; text-align:center;}
.pic-info p { margin-top: 16px; margin-bottom:0; color: rgba(0,0,0,0); font-size: 12px; transition: all ease-out .5s; text-align:center;}

.pic-box a:hover .pic-info { background:rgba(50, 50, 50, 0.8);}
.pic-box a:hover .pic-info h4 { margin-top:0; color:#eee;}
.pic-box a:hover .pic-info p { margin-top:0; color:#b7b7b7;}
.pic-more {
  background: #f1f1f1;
  color: #767676;
  font-size: 14px;
  height: 70px;
  line-height: 70px;
  width: 100%;
  text-align: center;
  display: block;
  transition: all ease-out .3s;
  text-indent: 0;
  position: relative;
  z-index:1;
  text-decoration:none;
}
.pic-more:hover {
  background:#323232;
  color: #D8D8D8;
  text-decoration:none;
}

.share-container { background-color: #f8f8f8;}
.share-item { width: 100%; height: 130px; border-bottom: rgba(0,0,0,0.05) 1px solid; transition: all ease-out .2s; position: relative; overflow:hidden;}
.share-item i { font-size: 36px; margin-top: 20px; color: rgba(0,0,0,0); transition: all ease-out .3s; text-indent: 30px;}
.share-item:hover { background: #424242; transform: translate3d(-50px, 0, 0); -webkit-transform: translate3d(-50px, 0, 0); -moz-transform: translate3d(-50px, 0, 0);}
.share-item:hover .box p { color: #FFF;}
.share-item:hover .box i { color: #FFF;}
.share-item .box { width: 960px; height: 90px; padding-top: 20px; margin: 0 auto; display: block; position: relative; z-index: 1;}
.share-item .date { width: 180px;}
.share-item .info { margin-left: 160px; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;}
.share-item .info .md { color: #b1b1b1;font-size: 60px; line-height: 50px; text-align: right; font-weight:400;}
.share-item .info .year { color: #bdbdbd; font-size: 16px; text-align: right;}
.share-item .content { margin-left: 50px;}
.share-item .content .title { width: 460px; height: 20px; line-height: 20px; font-size: 16px; color: #464646;}
.share-item .content .description { width: 460px; height: 42px; line-height: 22px; font-size: 13px; color: #6a6a6a; margin-top: 10px;overflow: hidden;}

.share-more { border: #ececec 1px solid; background: rgba(255,255,255,.0); color:#424242;  width: 360px; height: 58px; display: block; margin: 30px auto 30px; line-height: 58px; font-size: 20px; text-indent: 150px; border-radius: 30px; transition: all ease-out .3s; text-decoration:none; }
.share-more:hover {border-color:#ececec; text-indent:135px; color:#424242; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1); transition: all 0.5s; }
.fl { float: left; }
.ellipsis { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; display: block;}

.me-container { background-size:cover;background-position: 20% 0; height: 400px; text-align:center; }
.me-bg{ padding-top: 4em; height:100%; background:rgba(0,0,0,0.8)}
.me-bg p{ color:#dbdbdb;}
.me-bg img { width:100%;}
.me-bg .photo{ width:180px; height: 180px; border: 5px solid #FFF; border-radius:50%; overflow:hidden; margin:0 auto;}
.me-bg .name { color: #fff; font-size: 24px; }
.me-bg .like-play { color: #a5a5a5; font-size: 12px;}

.footer { background:#fff; border:1px solid #f1f1f1;}
.footer p { margin-bottom:0; padding: 15px 60px; font-size: 12px; color: #8e8e8e; line-height: 20px; text-align:center;}

.photo-banner {
  height: 290px;
  background-attachment:fixed;
  background-position: center 0;
}

.page-share-nav{
  padding-top: 30px;
  padding-bottom: 30px;
}
.page-share-nav ul {
  margin-bottom: 0;
}

.about-me { padding-top:3em; text-align:center;}
.about-me h1{ font-size:2em; font-weight:400;}
.about-me .am-content{ min-height:40em; padding-top:2em;text-align:justify; text-justify:inter-ideograph;}