.markdown-container{
  .toolbar-wrapper{
    height: 25px;
    background-color: #ededed;
    border-top-left-radius: 4px;
    border-top-right-radius:4px;
    margin-bottom: 2px;
  }
  .markdown{
    display:flex;
    .html-show{
      flex:1;
      border:solid 1px #ddd;
      border-radius: 0 0 4px 0;
      resize:vertical;
      max-width: 500px;
      word-wrap: break-word;
      word-break: normal;
      height: 414px;
      display: none;
      overflow-y: auto;
      padding-left: 6px;
      padding-right: 6px;
      resize: none;;
    }

    .barrier{
      width:7px;
      background-color: #ddd;
      cursor: pointer;
      &:hover{
        background-color: #cacaca;
      }
    }
    .editor{
      flex:1;

      textarea{
        border:solid 1px #ddd;
        border-radius: 0 0 0 4px;
        resize: none;;

      }
    }
  }
}