.article-show{
  padding: 0 20px;
  background-color: #fff;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
}

/*文章头部*/
.article-header {
  margin-bottom: 20px;
  padding: 25px 0;
  border-bottom: 1px solid #EEE;
  text-align: center;
}
.article-title {
  margin-top: 0;
  font-size: 26px;
  line-height: 36px;
  a, a:hover {
    color: #555;
  }
}

.article-meta {
  margin-top: 10px;
  font-size: 12px;
  color: #999;
  .item {
    margin-right: 20px;
    cursor: pointer;
    a {
      color: #929292;
      &:hover {
        color: #3399CC;
      }
    }
  }
}
@media (max-width: 1080px) {
  .article-meta .article-meta-comment {
    display: none;
  }
}
@media (max-width: 1000px) {
  .article-meta .article-meta-comment {
    display: inline-block;
  }
}
@media (max-width: 720px) {
  .article-meta .article-meta-comment {
    display: none;
  }
  .article-meta .article-meta-source {
    display: none;
  }
}
@media (max-width: 420px) {
  .article-meta .article-meta-category {
    display: none;
  }
}

/*文章内容*/
.article-content {
  margin-bottom: 30px;
}

/*文章版权*/
.article-copyright {
  background-color: #EEE;
  font-size: 12px;
  padding: 3px 0;
  border-radius: 3px;
  color: #aaa;
  text-align: center;
  word-wrap: break-word;
  line-height: 25px;
  a, a:hover {
    color: #AAA;
    text-decoration: none;
  }
  &:hover {
    background: #3399CC;
    color: #FFF;
    a{
      color: #FFF;
    }
  }
}

/*文章标签*/
.article-tags {
  margin: 15px 0;
  text-align: center;
  cursor: default;
  a {
    display: inline-block;
    padding: 2px 7px;
    line-height: 20px;
    margin: 0 4px 4px 0;
    color: #FFF;
    font-size: 12px;
    background-color: #3399CC;
    opacity: 0.85;
    filter: alpha(opacity=85);
    &:hover {
      opacity: 1;
      filter: alpha(opacity=100);
      -webkit-transform: scale(1.03);
      transform: scale(1.03);
      -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
      transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    }
  }
}

/*相关推荐*/
.relates{
  ul{
    margin-left: 18px;
    color: #BBB;
    margin-bottom: 30px;
  }
  .title {
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 10px;
  }
  li {
    margin-top: 12px;
    list-style: disc;
  }
  a {
    color: #777;
  }
  &:hover {
    color: #3399CC;
    text-decoration: underline;
  }
}

/*评论*/
.comment .title{
  margin-bottom: 15px;
  font-size: 16px;
}

.comment-form-wrapper{
  padding-bottom: 25px;
}

.comment-form-wrapper, .comment-list{
  position: relative;
}
.comment-form-wrapper .wrapper{
  position: relative;
  padding-left: 46px;
}
.from-title{
  font-size: 12px;
  color: #999;
  float: left;
  margin-left: -46px;
  width: 36px;
  text-align: center;
}
.from-title .avatar {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  margin-bottom: 5px;
}
.from-title img:hover {
  cursor: pointer;
  -moz-transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.from-box {
  border: 2px solid #CCD4D9;
  border-radius: 2px;
  padding: 4px 4px 0px;
  background-color: #FFF;
  position: relative;
  z-index: 10;
}
.from-box textarea {
  width: 100%;
  resize: none;
  overflow-x: hidden;
  overflow-y: auto;
  border: none;
  line-height: 22px;
  font-size: 14px;
  outline: 0;
  color: #666;
  height: 68px;
}
.from-box textarea::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background: #CCC;
  border-radius: 5px;
}
.from-box textarea::-webkit-scrollbar-button {
  display: none;
}
.from-box textarea::-webkit-scrollbar-track-piece {
  display: none;
}
.from-box textarea::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 5px;
}
.from-box textarea::-webkit-scrollbar-thumb:hover {
  background: #3399CC;
}
.from-box .from-ctrl {
  background-color: #FBFBFB;
  height: 36px;
  margin-left: -4px;
  border-top: solid 1px #F2F2F2;
  z-index: 5;
}
.from-ctrl button{
  position: absolute;
  right: -2px;
  bottom: -2px;
  background: #3399CC;
  border: 2px solid #3399CC;
  border-left: none;
  border-top: none;
  padding: 0;
  width: 100px;
  height: 38px;
  color: #FFF;
  outline: 0;
  border-radius: 0 0 2px 0;
  font-size: 16px;
  z-index: 6;
}
.from-ctrl button:hover {
  background: #268bbe;
  border-color: #268bbe;
}
.from-prompt {
  cursor: pointer;
  display: none;
  text-align: center;
  font-size: 14px;
  line-height: 38px;
  color: #3399CC;
}
.from-prompt:hover {
  color: #F46D6D;
}
@media (max-width: 480px) {
  .from-prompt {
    margin-left: -28px;
    display: none;
    font-size: 12px;
  }
}

/*评论列表*/
.comment-list{
  padding-bottom: 20px;
  ol{
    padding: 0;
    margin: 0 0 10px 0;
    list-style: none;
    cursor: pointer;
    li {
      border-bottom: #EEE 1px solid;
      &:hover {
        color: #000000;
        img {
          -webkit-transform: scale(1.05);
          transform: scale(1.05);
          -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
          transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        }
        img.avatar {
          -moz-transition: all 0.8s ease-in-out;
          -webkit-transition: all 0.8s ease-in-out;
          -o-transition: all 0.8s ease-in-out;
          -ms-transition: all 0.8s ease-in-out;
          transition: all 0.8s ease-in-out;
          -moz-transform: rotate(360deg);
          -webkit-transform: rotate(360deg);
          -o-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
    }
  }
  .comment-f {
     position: absolute;
     top: 15px;
     right: 0;
     font-size: 16px;
     color: #ccc;
  }
  .comment-avatar {
    width: 36px;
    height: 36px;
    background-color: #FFF;
    float: left;
    display: inline;
    position: relative;
    margin-top: 19px;
  }

  .comment-avatar .avatar {
    display: block;
    border-radius: 50%;
    width: 36px;
    height: 36px;
  }
  .comment-text {
    margin-left: 46px;
    margin-right: 30px;
    color: #888;
    line-height: 22px;
    position: relative;
    font-size: 14px;
    padding: 0 0 15px;
    word-wrap: break-word;
    max-height: 300px;
    overflow: hidden;
    p {
      margin-top: 15px;
      margin-bottom: 0;
    }
    span.time {
      margin: 0 5px;
      font-size: 12px;
      color: #BBB;
    }
    span.address {
      color: #3399CC;
      margin: 0 5px;
    }
  }

  /*评论分页*/
  .comment-pagination {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #AAA;
    span, a{
      padding: 5px 10px;
      margin: 0 3px;
      background: #EEE;
      border-radius: 5px;
    }
    a {
      color: #666;
      text-decoration: none;
    }
    a:hover {
      color: #FFFFFF;
      background: #3399CC;
    }
    .disabled {
      cursor: not-allowed;
    }
    .current {
      background: #3399CC;
      color: #FFFFCC;
      cursor: default;
    }
  }
}