@charset "utf-8";
/*region 公共样式*/
*{
  margin: 0;
  padding: 0;
}
html, body {
  color: #444;
  background-color: #eee;
  overflow-x: hidden;
}

/*页面滚动条*/
html::-webkit-scrollbar {
  width:6px;
  height:6px;
  background:#CCC;
}
html::-webkit-scrollbar-button {
  display:none;
}
html::-webkit-scrollbar-track-piece {
  display:none;
}
html::-webkit-scrollbar-thumb {
  background:#999;
}
html::-webkit-scrollbar-thumb:hover {
  background:#3399CC;
}
/*公共*/
a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
li {
  display: list-item;
  list-style: none;
  text-align: -webkit-match-parent;
}
li.active {
  background: #FFF;
  opacity: .9;
  filter: alpha(opacity=90);
}
body, input, button, textarea, select {
  font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
  //font-family: "Microsoft YaHei", "微软雅黑", "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}
/*鼠标选中内容样式
::selection {
  background: #444;
  color: #FFF;
}
::-moz-selection {
  background:#444;
  color:#FFF;
}*/
/*禁止文字选中
.user-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}*/
/*endregion*/
/*region 容器*/
.container {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0;
}
@media (max-width: 480px) {
  .container {
    margin: 0 10px;
  }
}
@media (max-width:768px) {
  .container {
    width: auto;
  }
}
@media (min-width:768px) {
  .container {
    width: auto;
  }
}
@media (min-width:992px) {
  .container {
    width: auto;
  }
}
@media (min-width:1200px) {
  .container {
    width: auto;
  }
}
@media (max-width: 1240px) {
  .container {
    margin: 0 15px;
  }
}
/*endregion 容器*/

.shadow {
  z-index: 100;
  -moz-box-shadow: 0 0 3px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,.3);
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/*region--头部样式*/
.header {
  background-color: #fff;
  width: 100%;
  border: none;
  border-radius: 0;
  min-height: 50px;
  margin-bottom: 15px;
  padding: 0;
  -moz-box-shadow: 0 0 2px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,.1);
  box-shadow: 0 0 2px rgba(0,0,0,.1);
}

/*导航顶部*/
.top-nav {
  margin: 10px 0 10px;
  height: 20px;
  color: #999;
}
.top-nav .top-menu {
  float: right;
}
.top-nav a {
  color: #999;
}
.top-nav a:hover {
  color: #3399CC;
  text-decoration: none;
}
.top-nav ul li {
  float: left;
}
.top-nav ul{
  display: block;
}
.top-nav ul a {
  display: block;
  color: #999;
  padding: 0 15px;
}
.top-nav ul:last-child a {
  padding-right: 0;
}

.top-nav ul a:hover {
  color: #3399CC;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.container >.navbar-header {
  margin-right: 0;
  margin-left: 0;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin: 12px 0 0;
  background-color: transparent;
  background-image: none;
  border: 1px solid #3399CC;
  border-radius: 4px;
}
.navbar-toggle .icon-bar {
  background-color: #3399CC;
}
.navbar-toggle:focus,
.navbar-toggle:hover {
  background-color: #EFEFEF;
  opacity: .8;
  filter: alpha(opacity=80);
}

.logo {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.logo:hover, .logo:focus, .logo:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.main-nav ul a{
  color: #777;
  padding: 0 15px;
  line-height: 48px;
  font-size: 18px;
}
.main-nav ul li:first-child a{
  font-size: 21px;
}

.main-nav ul li:last-child a{
  padding-right: 0;
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.navbar-nav > li.active a {
  text-decoration: none;
  background-color: #FFF;
  color: #3399CC;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
/*endregion--头部样式*/
/*region--底部样式*/
.footer {
  margin-top: 5px;
  clear: both;
  padding: 20px 11px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #999;
  background-color: #FFF;
  -moz-box-shadow: 0 0 2px 0 rgba(0,0,0,.1);
  -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,.1);
  box-shadow: 0 0 2px 0 rgba(0,0,0,.1);
}
.footer a {
  color: #999;
}
.footer a:hover {
  color: #3399CC;
}
.gotop {
  cursor: pointer;
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 99999;
  display: block;
  width: 50px;
  height: 50px;
  background: image-url("backtop.png") no-repeat 0 0;
  opacity: 0.5;
  filter: alpha(opacity=50);

  transition: all 0.30s ease-in-out;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}
.gotop:hover {
  background: image-url("backtop.png") no-repeat 0 -52px;
}
/*endregion--底部样式*/

.main{

}
.content-wrap{
  width: 100%;
  float: left;
  min-height: 1000px;
}
.content{
  position: relative;
  min-height: 500px;
  margin-right: 380px;
  margin-bottom: 0;
}

/* region --轮播图*/
.slide-show {
  margin-bottom: 15px;
  .carousel-inner {
    width: 100%;
    max-height: 200px;
  }
  .carousel-inner .item a {
    display: block;
    text-align: center;
  }
  .carousel-inner .item img {
    margin: 0 auto;
    border-radius: 4px;
  }
  .carousel-control.left, .carousel-control.right {
    background: none;
  }
  .carousel-control {
    width: 40px;
    height: 80px;
    top: 50%;
    margin-top: -40px;
  }
  .carousel-control:hover {
    background-color: #000;
    opacity: .5;
    filter: alpha(opacity=50);
    color: #fff;
  }
}

@media (max-width: 600px) {
  .slide-show {
    display: none;
  }
}
/* endregion--轮播图*/

/* region-- 标题 */
.title {
  margin-top: 0;
  margin-bottom: 10px;
  overflow: hidden;
}
.title h3 {
  font-size: 20px;
  margin: 0;
  float: left;
  cursor: pointer;
}
.title h3:hover {
  color: #F73B3B;
}
.title .tag-list {
  float: right;
  position: relative;
  top: 5px;
}
.title .tag-list a {
  display: inline-block;
  margin-left: 20px;
  color: #999;
}
.title .tag-list a:hover {
  color: #3399CC;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
/* endregion--标题*/

/* region--文章*/
article {
  clear: both;
  border: 1px solid #EAEAEA;
  padding: 15px 20px 15px 20px;
  overflow: hidden;
  background-color: #fff;
  margin-bottom: -1px;
}
article:hover {
  background-color: #FBFDFF;
  border-color: #42B5EF;
  position: relative;
  z-index: 20;
}
article header {
  margin-bottom: 10px;
}
article .cat {
  color: #FFF;
  background-color: #3399CC;
  padding: 3px 6px;
  font-size: 12px;
  display: inline-block;
  position: relative;
  top: -2px;
  margin-right: 6px;
}
article .cat:hover {
  opacity: .8;
}
article .cat i {
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: -4px;
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-left: 4px solid #3399CC;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
article h2 {
  display: inline;
  font-size: 18px;
  line-height: 24px;
  margin-top: 0;
  font-weight: bold;
}
article h2 a {
  color: #555;
}
article h2 a:hover {
  color: #3399CC;
}
article .meta {
  color: #999;
  font-size: 12px;
  margin-bottom: 10px;
}
article .meta a {
  color: #999;
}
article .note {
  margin-bottom: 0;
}
article time, article .comment, article .views {
  cursor: pointer;
  margin-right: 20px;
}
article time:hover, article .comment:hover, article .views:hover {
  color: #3399CC;
}
.article-list article:first-child{
  border-radius: 4px 4px 0 0;
}
.article-list article:last-child{
  border-radius: 0 0 4px 4px;
}
/* endregion--文章*/

/* region--分页*/
.pagination-wrapper {
  margin: 0;
  padding: 10px 20px 0 20px;
  text-align: center;
  font-size: 12px;
  display: block;

  .pagination{
    margin: 0;
  }
  ul > li > a,
  ul > li > span {
    margin: 0 2px;
    float: left;
    padding: 5px 12px;
    background-color: #DDD;
    color: #666;
    border-radius: 2px;
    opacity: .88;
    filter: alpha(opacity=88);
  }
  ul > li > a:hover,
  ul > li > a:focus {
    opacity: 1;
  }
  ul > .active > a,
  ul > .active > span {
    background-color: #3399CC;
    color: #FFF;
    border-color: #3399CC
  }
  ul > .active > a,
  ul > .active > span {
    cursor: default;
  }
  ul > li > span,
  ul > .disabled > span,
  ul > .disabled > a,
  ul > .disabled > a:hover,
  ul > .disabled > a:focus {
    color: #999999;
    background-color: transparent;
    cursor: default;
  }
}
/* endregion--分页*/

/* region--侧边栏 */
.sidebar {
  float: left;
  margin-left: -360px;
  width: 360px;
  position: relative;
}

.widget {
  clear: both;
  position: relative;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #eaeaea;
  overflow: hidden;
}

.widget h3 {
  font-size: 18px;
  color: #666;
  border-bottom: 1px solid #eaeaea;
  background-color: #fbfbfb;
  margin: 0;
  padding: 11px 15px 10px;
  cursor: default;
}

.widget h3:hover {
  cursor: pointer;
  color: #F73B3B;
}

/*侧边栏标签页*/
.widget-tabs {
  height: 200px;
}

.nav-tabs {
  background-color: #fbfbfb;
  line-height: 42px;
  height: 42px;
  border-bottom: 1px solid #EAEAEA;
}

.nav-tabs > li > a {
  outline: medium none;
  color: #777;
  margin-right: 0;
  border: 1px solid transparent;
  border-radius: 0;
  border-right: 1px solid #DDD !important;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #3399CC !important;
  border: 1px solid transparent;
}

.widget-tabs .tab-content {
  padding: 15px;
}

/*侧边栏标签页内容*/
.widget-tabs .tab-content li {
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
}

.widget-tabs .tab-content li time {
  float: right;
  color: #BBB;
  margin-left: 10px;
}

.widget-tabs .tab-content li a {
  max-width: 280px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #999;
}

.widget-tabs .tab-content li a:hover {
  color: #3399CC;
}

/*侧边栏标签页联系站长内容*/
.widget-tabs .tab-content .contact h2 {
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  margin: 20px 0;
}

.widget-tabs .tab-content .contact a {
  color: #444;
}

.widget-tabs .tab-content .contact a:hover {
  color: #3399CC;
}

/*侧边栏搜索*/
.form-control {
  padding: 5px 5px 5px 10px;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.form-control:focus {
  border: #3399CC solid 1px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

/*侧边栏每日一句*/
.widget-sentence-content {
  padding: 15px;
  cursor: pointer;
}

.widget-sentence-content h4 {
  color: #3399CC;
  font-size: 20px;
  margin: 0 0 10px;
}

.widget-sentence-content h4:hover {
  color: #31B2F3;
}

.widget-sentence-content p {
  font-size: 12px;
  color: #AAA;
}

/*侧边栏热门文章*/
.widget_hot ul{
  margin-bottom: 0;
}

.widget_hot li{
  padding: 5px 15px;
  height: 40px;
  margin-bottom: 1px;
  border-bottom: solid 1px #eee;
}

.widget_hot li a {
  display: inline-block;
  line-height: 29px;
  max-width: 235px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #515151;
  position: relative;
  font-size: 14px;

}

.widget_hot li a:hover,.widget_hot li a:active {
  color: #3399CC;
}

.widget_hot li:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.widget_hot li time {
  float: right;
  line-height: 29px;
  color: #BBB;
  margin-left: 10px;
  display: inline;
}

/* endregion--侧边栏 */

@media (max-width: 1000px) {
  .content {
    margin-right: 0;
  }
  .sidebar {
    display: none;
  }
}
@media (max-width: 800px) {
  .hidden-index {
    display: none !important;
  }
}

.proverbs{
  background-color: #fff;
  padding: 15px;
}
.quote-headtips{
  color: rgb(150, 175, 72);
  font-size: 17px;
}