<% content_for :title do %>
		<li><%= t('menu.category') %></li>
<% end %>

<div class="pull-right" style="margin-bottom: 15px;">
	<button id="add_category_btn" class="btn btn-primary" data-toggle="modal" data-target="#add_category_modal">
		<%= t('category.add') %>
	</button>
</div>
<div class="categories_list">
	<%= render :partial => "admin/categories/shared/categories_list" %>
</div>

<%= render :partial => "admin/categories/shared/add_category_modal" %>