<aside class="sidebar">
  <div class="fixed">
    <div class="widget widget-tabs">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">联系站长</a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane contact active" id="contact">
          <h2>Email:<br />
            <a>pupinghuang@gmail.com</a></h2>
        </div>
      </div>
    </div>

    <div class="widget widget_search">
      <%= form_tag(articles_path, method: "GET", class: 'navbar-form') do %>
        <div class="input-group">
          <%= text_field_tag('wd', nil, class: 'form-control', size: 35, placeholder: "请输入关键字", maxlength: "15", autocomplete: "off" ) %>
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">搜索</button>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</aside>
