.attachment-upload-wrapper{
  .attachment-show{
    display: inline-block;
    ul{
      padding: 0;
      list-style-type: disc;
      li {
        position: relative;
        display: inline-block;
        margin-right: 3px;
        img{
          cursor: pointer;
          height: 100px;
          width: 100px;
        }
        span.delete{
          display: none;
          position: absolute;
          top: 1px;
          right: 1px;
          height: 22px;
          width: 22px;
          line-height: 22px;
          text-align: center;
          background-color: #ffffff;
          border-radius: 6px;
          border-bottom: 1px solid #b4b4b4;
          color:#ff7f00;
          &:hover{
            color: red;
          }
        }
        &:hover{
          &>span.delete{
            display: inline-block;
          }
        }
        span.file-type {
          cursor: pointer;
          display: inline-block;
          width: 100px;
          height: 100px;
          color: white;
          text-align: center;
          background-color: #F68121;
          line-height: 82px;
          font-size: 40px;
          border-radius: 6px;
        }
        .docx, .doc {
          background-color: #29b6f6 !important;
        }
        .xlsx, .xls {
          background-color: #98d759 !important;
        }
        .pdf{
          background-color: #d74100 !important;
        }
      }
    }
  }
  .attachment-operations{
    display: inline-block;
  }

  .fileinput-button {
    position: relative;
    overflow: hidden;
    height: 102px;
    background-color: #ededed;
    width: 102px;
    i{
      color: #CCCCCC;
      line-height: 88px;
      font-size: 60px;
    }

    input {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      opacity: 0;
      -ms-filter: 'alpha(opacity=0)';
      font-size: 200px;
      direction: ltr;
      cursor: pointer;
    }
  }
}
