.attachment {
  padding: 10px;

  ul {
    padding-left: 5px;
    & > li {
      display: flex;
      align-items: center;
      padding-bottom: 5px;
      & > span.file_type {
        display: inline-block;
        width: 36px;
        height: 36px;
        line-height: 36px;
        color: white;
        text-align: center;
        font-size: 14px;
        border-radius: 18px;
        background-color: #F68121;
      }

      & > a {
        margin: 0 10px;
        flex: 1;
        color: #7d7d7d;
      }

      & > .docx {
        background-color: #29b6f6 !important;
      }
      & > .xlsx {
        background-color: #98d759 !important;
      }
      & > span.uploading {
        background-color: #ddd !important;
      }

      & > .delete_attachment {
        width: 22px;
        height: 22px;
        background: image-url("attachment/delete.png") no-repeat center;
      }

      & > .delete_attachment:hover {
        background: image-url("attachment/delete_hover.png") no-repeat center;
        cursor: pointer;
      }
    }
  }
  .error_msg {
    padding: 0 10px;
    color: orangered;
  }
}

.btn_grey_inv {
  color: #b5b5b5;
  background: #fff;
  border-color: #ddd;
  &:hover,
  &:focus {
    color: #b5b5b5;
  }
}

.fileinput-button {
  display: inline-block;
  width: 100px;
  height: 30px;
  background: #ddd;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.fileinput-button:hover {
  background: #ccc;
}

.fileinput-button input {
  opacity: 0;
  filter: alpha(opacity=0);
  font-size: 100px;
  position: absolute;
  top: 0;
  right: 0;
}

button.fileinput-button {
  margin-left: 15px;
}