/*
 *= require include_bootstrap
 *= require bootstrapValidator.min
 */

.container-wrapper{
	display:flex;
	justify-content:center;
}
.form-foot{
	display: flex;
	justify-content:space-around;
	padding: 8px 0;
	background-color:#f5f5f5;
}
.container{
	margin-top: 120px;
	background: #FFF none repeat scroll 0% 0%;
	border:solid 1px #ddd;
	border-radius:4px;
	padding: 0;
}
.container form{
	margin-bottom: 0;
}
.form-horizontal .form-group {
	margin: 0 0 30px 0;
	padding: 0 30px;
}

.form-group input{
	height: 40px;
	padding: 10px 16px;
	font-size: 15px;
	line-height: 1.3333333;
	border-radius: 6px;
}
.form-title{
	font-size: 20px;
	text-align: center;
	background-color:#f5f5f5;
	border-bottom:solid 1px #ddd;
	margin-bottom: 30px;
	border-radius:4px 4px 0 0;
	height: 45px;
	line-height: 45px;
}
.form-error {
	margin-top: -10px;
	min-height: 25px;
	line-height: 25px;
	text-align: center;
	color: red;
}
.form-horizontal .form-group .form-control-feedback {
	right: 30px;
}
.form-horizontal .form-group .bv-icon-input-group {
	top: 3px;
}
.form-group .help-block {
	padding-left: 50px;
}