
      <table class="table table-hover">
		<thead>
			<tr>
				<th>类别</th>
				<th>文章</th>
				<th>操作</th>
				<th>排序</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Tanmay</td>
				<td>Bangalore</td>
				<td>560001</td>
				<td>560001</td>
			</tr>
		</tbody>
	</table>