body {
  margin-top: 50px;
}
#wrapper {
  padding-left: 150px;
}
#container-wrapper {
  width: 100%;
  padding: 0px 15px 0 15px;
}

.top-nav {
  padding: 0px 50px 0;
}
.top-nav>li {
  display: inline-block;
  float: left;
}
.top-nav>li>a {
  line-height: 30px;
  font-size: large;
}
.side-nav {
  position: fixed;
  top: 52px;
  left: 150px;
  width: 150px;
  margin-left: -150px;
  border: none;
  border-radius: 0;
  overflow-y: auto;
  background-color: #337ab7;
  bottom: 0;
  overflow-x: hidden;
  padding-bottom: 40px;
}
.side-nav>li{
  border-bottom: 1px solid #999;
}
.side-nav>li>a {
  color: #fff !important;
  width: 150px;
}
.side-nav>li>a>i{
  margin-right: 5px;
}
.side-nav li a:hover,
.side-nav li a:focus {
  outline: none;
  background-color: #154b79 !important;
}

.container-title{
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
  margin: 10px 0 25px 0;
}

.container-title .level1{
  margin-left: 10px;
  font-size: 20px;
}
.container-main{
  width: 100%;
}